<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="content" role="main">
        <div class="p-5">
          <h4>Welcome to this world!</h4>
          <span><b>{{message}}</b></span>
          <!--child to parent data passing-->
          <app-countries (childEvent)="message=$event" [mode]="'History'"></app-countries>
          <br>
          <nav>
            <button class="btn btn-dark mx-3 mb-3" routerLink="/currencies" routerLinkActive="active">Show Currency</button>
            <button class="btn btn-warning mb-3" routerLink="/capitals">Show Capitals</button>
          </nav>
        </div>
      </div>
    </div>
    <div class="col-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>