<div class="container">
    <div>
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Country</th>
                    <th>Capital</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let capital of capitals">
                    <td>{{capital.id}}</td>
                    <td>{{capital.country}}</td>
                    <td>{{capital.capital}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>