<div [ngSwitch]="mapId" class="m-5">
    <div *ngSwitchCase="1">
        <img src="../../assets/images/japan.png" alt="japan map" height="200px" width="200px">
    </div>
    <div *ngSwitchCase="2">
        <img src="../../assets/images/korea.jpg" alt="korea map" height="200px" width="200px">
    </div>
    <div *ngSwitchCase="3">
        <img src="../../assets/images/malaysia.png" alt="malaysia map" height="200px" width="200px">
    </div>
    <div *ngSwitchCase="4">
        <img src="../../assets/images/thailand.jpg" alt="thailand map" height="200px" width="200px">
    </div>
    <div *ngSwitchCase="5">
        <img src="../../assets/images/singapore.png" alt="singapore map" height="200px" width="200px">
    </div>
</div>